.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 404px;
    width: 100%;
    margin-top: 507px;
    display:flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: visible;
}

h3{
    color:white;
    margin-top: -99px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xxx-large;
    text-shadow: 2px 2px 4px #928d8d;
}

p
{
    color:white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.content{
    width: 791px;
    margin-left: 562px;
    margin-bottom: 40px;
    
}
/* .logo{
    /* position:absolute; 
    /* height: 40px;
    width: 10px;
    margin-left: 826px;
    margin-top: 10px;
    display: flex;
    flex-direction: row; 
  }  */
    

img{
    height: 38px;
    margin-right: 10px;
    
}
li{
    display: flex;
    flex-direction: row;
    justify-content:center;
   
}

